parameters:
    level: 6
    paths:
        - zw-ttvgpt.php
        - includes/
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - vendor/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue